body {
  background-color: rgb(18, 165, 185);
}

* {
  font-family: Arial;
  font-size: 20px;
}

button {
  margin-bottom: 20px;
  padding: 10px 15px;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  text-shadow: 3px 3px 5px rgba(36, 36, 36, 0.767);
  color: white;
}

#answer {
  background-color: white;
  width: 180px;
  height: 40px;
  padding: 1px 2px;
  text-align: center;
  padding-top: 16px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(75, 75, 95, 0.85);
  width: 500px;
  margin: 0 auto;
  padding: 30px 10px;
}

.boxes {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin-bottom: 20px;
  align-items: center;
}

.boxes span {
  font-weight: 700;
  color: white;
}

.input {
  width: 100px;
  height: 40px;
  padding: 1px 5px;
}